[submodule "packages/util"]
	path = packages/util
	url = https://github.com/proteinjs/util.git
	branch = main
[submodule "packages/reflection"]
	path = packages/reflection
	url = https://github.com/proteinjs/reflection.git
	branch = main
[submodule "packages/build"]
	path = packages/build
	url = https://github.com/proteinjs/build.git
	branch = main
